@media screen and (min-width: 945px)  {
  
}

@media screen and  (max-width: 944px) {
  .hamburger-menu {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .nav-desktop {
    position: absolute;
    background-color: #fff;
    opacity: .95;
    height: 100vh;
    transition: all .3s;
    transform: translateX(100%);
  }

  .logo {
   width: 90px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.transition-nav {
  transform: translateX(0);
}