* {
  margin: 0px;
  padding: 0px;
  font-family: Rubik, sans-serif;
}

a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #333
}

.a-links {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 20px;
  font-weight: 400;
}

h1 {
  font-size: 52px;
  font-weight: 700;
}

.nav-desktop {
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
}

.hamburger-menu {
  display: none;
}

.logo-container {
  width:10%;
}

.logo {
  width: 100%;
}

 .menu-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  gap: 3rem;
  align-items: center;
}

.btn-nav-destkop {
  background-color: rgb(230, 126, 34);
  border: none;
  border-radius: 9px;
  padding: 10px 12px;
  width: 120px;
}

.button-anchor {
  color: white;
}

.menu-list {
  margin-right: 15px;
}

.toogle {
  width: 30px;
  cursor: pointer;
}

.nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
  height: 96px;
  background-color: #fdf2e9;
  position: relative;
}

.hamburger-menu-list {
  display: none;
}

.hamburger-menu-list-open {
  display: block;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fdf2e9;
}

.hero-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
  margin-left: 98.5px;
  margin-right: 98.5px;
}

.heading-hero {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.img-hero {
  width: 80%;
}

.heading-text {
  width: 540px;
  line-height: 30px;
}

.btns-hero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.cta {
  border: none;
  background-color: #e67e22;;
  width:  225.461px;
  padding: 10px 15px;
  border-radius: 13px;
}

.btn1-text {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.more {
  border: none;
  background-color: #FFF;
  width: 194.102px;
  padding: 10px 15px;
  border-radius: 9px;
}

.btn2-text {
  font-size: 20px;
  font-weight: 600;
}

.testimonials {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clients-img {
  width: 40px;
  border-radius: 25px;
  margin-left: -16px;
  border: 2px solid #fdf2e9;
}

.img-allign {
  margin: 0px;
}

.stats {
  margin-left: 25px;
}

.nums {
  color: rgb(207, 113, 31);
  font-weight: bold;
  font-size: 22px;
}

.clients-stats {
  color: rgb(85, 85, 85);
  font-size: 18px;
  font-weight: 600;
}








