* {
  margin: 0px;
  padding: 0px;
}

.nav-desktop {
  display: flex;
  flex-direction: row;
  padding-left: 48px;
  padding-right: 48px;
  height: 96px;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width:10%;
}

.logo {
  width: 100%;
}

.menu-list > ul, a {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  color: #333;
  gap: 3rem;
  align-items: center;
}


